<%- include('../inc/head') %> 
<body class="nav-md">

<div class="wrapper login_page"> 
            <div class="container">
                <h1 class="logo"><img src="assets/img/logo_schlage.png"></h1>
                <div class="col-md-4 col-xs-push-4"> 
                    <form class="login-form"  id="loginForm">                  
                        <div class="form-group">
                            <!-- 국가번호 -->
                            <select class="form-control" id="CountryCode" name="CountryCode"></select>
                            <!-- 핸폰번호 -->
                            <input 
                                class="form-control" 
                                name="phone" 
                                id="phone-number-check"
                                placeholder=" 전화번호 입력 '-' 제외하고 입력해 주세요." maxlength="13" type="text"  value="">                            
                            
                            <!-- <button type="button" data-toggle="modal" data-target="#phoneError" class="btn btn-fill btn-info btn-block" id="requestAuthen">인증번호 요청</button> -->
                            <button type="button" class="btn btn-fill btn-info btn-block" id="reqAuthen" >인증번호 요청</button>
                            <p class="desc"><span>휴대번호 입력 후 인증번호 요청을 클릭해 주세요</span></p>
                            <input type="text" class="form-control" placeholder="전달 받은 인증 번호를 입력해 주세요."  id="resAuthen">
                            <!-- <button type="button" data-toggle="modal" data-target="#logining" class="btn btn-secondary btn-fill btn-block" id="authDo"> 인증하기</button>  -->
                            <button type="button" class="btn btn-secondary btn-fill btn-block" id="authDo"><span>인증하기</span></button> 
                            <p class="desc" id="authTime" style="display: none;">인증번호 입력 유효 시간은 3분 입니다.</p>                   

                        </div> 
                    </form>                          
                </div>  
            </div>
</div>


<% include ../inc/modal %>
<% include ../inc/bottom %>   
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    $(function(){     

        //전화번호입력 올바른가?
        $('p.desc > span').hide();          
        $("#phone-number-check").on('keydown', function(e){              
            var trans_num = $(this).val().replace(/-/gi,'').replace(/\D/g,'');
            var k = e.keyCode;
            if(trans_num.length >= 11 && ((k >= 48 && k <=126) || (k >= 12592 && k <= 12687 || k==32 || k==229 || (k>=45032 && k<=55203)) )){
                e.preventDefault();
            }
        }).on('blur', function(){
            if($(this).val() == ''){
                $('p.desc > span').show(); 
                $(this).val('');
                $(this).focus();  
            }else{
                var trans_num = $(this).val().replace(/-/gi,'');
                if(trans_num != null && trans_num != ''){                              
                    if(trans_num.length==11 || trans_num.length==10) {   
                        var regExp_ctn = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})([0-9]{3,4})([0-9]{4})$/;
                        if(regExp_ctn.test(trans_num)){                            
                           $(this).val(trans_num);                           
                        }else{                          
                            $(this).val("");
                            $(this).focus();
                        }
                    }else {                       
                        $(this).val('');
                        $(this).focus();
                    }
                }
            }
        }); 
        
        //국가코드 외부에서 가지고오고 국가 선택시 변경이벤트
        var countryCode; 
        var phone_number; 
        var code;//서버에서 온 인증번호   
        var AuthTimer;        
         $('#CountryCode').empty();
         $('#CountryCode').append('<option selected="true" disabled>국가코드 선택</option>');        
         $('#CountryCode').prop('selectedIndex', 0);        
         $.ajax({
            url : '/countries', //json 불러오기 router이용해서 불러옴
            dataType :'json',
            success : function (data) {
                $.each(data, function (key, entry) {
                    $('#CountryCode').append($('<option></option>').attr('value', entry.phone).text(entry.name +' ( + ' + entry.phone +' )'));                   
                })
            },
            error: function(jqXHR, textStatus, errorThrown){
              console.log('Error: ' + textStatus + ' - ' + errorThrown);                     
          }    
         });
        $("#CountryCode").on("change", function(){ 
            countryCode = $(this).val().replace(/\D/g,'');            
        });

        //1 단계 :  인증번호 요청
        $('button#reqAuthen').click(function(){   
            var userNumber = $('input[name=phone]').val().replace(/(^0+)/, "");            
            phone_number = countryCode + userNumber;                        
            if(countryCode && userNumber){    
               var expired_at = new Date();    
               expired_at.setMinutes(expired_at.getMinutes() + 3);              
               axios({
                    method: "POST",  
                    url: "https://development.api.allegion.imgate.co.kr/v1/user/verification_code",                    
                    dataType:"json",                   
                    data:{
                        "phone_number": phone_number,
                        "need_signedup": true,
                        "expired_at": expired_at,                       
                        "is_test_mode": true
                        }
                    })                  
                    .then(function(res) {   
                        console.log(res.data);
                        alert("인증번호가 발송되었습니다. 문자를 확인해 주세요");     
                        code = res.data.verification_code;                
                        $('#authTime').show();                         

                        //3분인증용 카운트다운
                        AuthTimer = new $ComTimer()
                        AuthTimer.comSecond = 180;//10초 카운트다운(180초로 변경할것)
                        AuthTimer.fnCallback = function(){alert("다시인증을 시도해주세요.")}
                        AuthTimer.timer =  setInterval(function(){AuthTimer.fnTimer()},1000);
                        AuthTimer.domId = $("#authDo");
                                               
                    })
                    .catch(function (request, status, error){                          
                        var msg = "ERROR<br><br>"
                        msg += request.status + "<br>" + request.responseText + "<br>" + error;
                        console.log(msg);    
                        $('#phoneError').modal('show'); 
                        $('#phone-number-check').val('');
                    })                
            }else{
                $('p.desc > span').show(); 
            }
        });
        //2단계 : 인증 및 로그인  
          
            $('#authDo').click(function(){                  
                var verification_code = $('#resAuthen').val();
                if(verification_code == code){
                    console.log(phone_number+"/////"+$('#resAuthen').val());  
                    AuthTimer.fnStop();                       
                    axios({
                        method: "POST",
                        url: "https://development.api.allegion.imgate.co.kr/v1/user/session",
                        dataType:"json",     
                        data:{
                                "phone_number": phone_number,
                                "verification_code": verification_code
                            }
                        })                                               
                        .then(function(res) {                         
                                console.log(res);                                 
                                location.href="/"
                        })
                        .catch(function (request, status, error){  
                                msg = request.status + "<br>" + request.responseText + "<br>" + error;
                                console.log(msg);                           
                        })
                }else if(!verification_code){
                    $('#resAuthen').attr('placeholder', '전달받은 인증번호를 입력해 주세요').val('');  
                }else{
                    $('#resAuthen').attr('placeholder', '인증번호가 틀렸습니다. 다시 입력해 주세요').val('');                       
                }                         
            });
      

     //인증용 카운트다운 함수및 객체
     function $ComTimer(){}
                        $ComTimer.prototype = {
                            comSecond : "",
                            fnCallback : function(){},
                            timer : "",
                            domId : "",
                            fnTimer : function(){
                                var m = Math.floor(this.comSecond / 60) + " : " + (this.comSecond % 60);	// 남은 시간 계산
                                this.comSecond--;					// 1초씩 감소
                                console.log(m);
                                this.domId.addClass('btn-info').html( m + " 인증번호 확인");
                                if (this.comSecond < 0) {			// 시간이 종료 되었으면..
                                    $('#authDo').removeClass('btn-info').html("인증하기");
                                    $('#resAuthen').val('');
                                    $('#authTime').html('인증요청시간이 지났습니다. 다시 인증번호를 요청해 주세요'); 
                                    $('#reqAuthen').html('인증번호 재요청'); 
                                    clearInterval(this.timer);		// 타이머 해제
                                    // alert("인증시간이 초과하였습니다. 다시 인증해주시기 바랍니다.")
                                }
                            },
                            fnStop : function(){                               
                                   clearInterval(this.timer);
                            }
                        }         


});
    
</script>