<%- include('inc/head') %>
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>


        <div class="content">
            <div class="">
                <div class="row">
                        <div class="col-md-6">
                                <div class="card  card-h2">
                                    <div class="card-header">
                                        <h5 class="card-title">빌딩 정보 등록</h5>
                                    </div> 
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>빌딩 이름 입력</label>
                                                        <input type="text" class="form-control" placeholder="" name="name">
                                                    </div>
                                                </div>                                                        
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">                                                           
                                                        <div class="row form-group">
                                                            <div class="col-md-12">
                                                                <label>빌딩 타입 선택</label>
                                                                <select class="form-control" name="buildingtype"><select> 
                                                            </div>                                                                                                                 
                                                         </div>  
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="day_type_offset">핀코드 일단위 기준시각 설정</label>
                                                        <select class="form-control"  name="day_type_offset"></select>                                                               
                                                    </div>
                                                </div>
                                            </div>                                           
                                        </form>
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-6">
                                <div class="card  card-h2">
                                    <div class="card-header">
                                        <h5 class="card-title">공용도어 정보 입력</h5>                                      
                                    </div> 
                                    <div class="card-body">
                                            <div class="table-full-width">                                               
                                                    <table class="table" id="noDoorList"> 
                                                            <tr>
                                                                <td>
                                                                    <div class="con_default">
                                                                        <i class="icon m_issuekey"></i>
                                                                        <h4 class="text-center text-info">
                                                                            ‘등록된 공용 도어가 없습니다 ’<br>
                                                                            <span>도어락 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                                        </h4>
                                                                    </div>                                                                 
                                                                </td>
                                                            </tr>
                                                        </table>
    
                                                        <table class="table" id="newDoorList" style="display: none;">
                                                                <colgroup>
                                                                    <col width="10%">
                                                                    <col width="*">
                                                                    <col width="25%">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th colspan="2" >
                                                                            <div class="form-check">
                                                                                <label class="form-check-label" style="line-height: 20px;">
                                                                                    <input class="form-check-input" type="checkbox" value="">
                                                                                    <span class="form-check-sign"></span>                                                                            
                                                                                </label>
                                                                                <span>1 selected</span>
                                                                                <button type="button" title="Remove" id="delTrash" class="btn btn-simple btn-link" onClick="fn_delRow('chkObject');">
                                                                                    <i class="icon trash"></i>
                                                                                </button>
                                                                            </div>                                                                   
                                                                        </th>                                                               
                                                                        <th class="text-right">total: <strong class="text-primary" id="doorCnt"></strong></th>
                                                                    </tr>
                                                                </thead> 
                                                                <tbody></tbody>
                                                        </table>
                                                </div>
                                    </div>
                                    <div class="card-footer ">
                                            <hr>
                                            <div class="state form-inline"> 
                                               <input type="text" class="form-control" id="newDoorName" placeholder="공용도어 이름 입력" onkeyup="chkword(this,100);">                                                            
                                               <button type="button" class="btn btn-primary" id="btnDoorName">공용도어 추가</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12 text-center">
                            <button type="reset" class="btn btn-default btn-fill shadow pull-left">나가기</button>
                            <button type="button" class="btn btn-fill btn-primary pull-right shadow" id="btnNewBuilding">신규 빌딩 생성</a>
                        </div>
                </div>
            </div>
        </div>

<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>
<!-- 93d8265dd0e2f63b41abb6a46ce9b67ef6133403 -->
<!-- Bearer 24a21f9c9277eecd030336364b658f75d3cb4017 -->
<script>   
    var API_KEY = localStorage.getItem('api_key');   
    var id = "<%= id %>";
    var url = "properties/" + id + "/buildings";
    console.log('id', id);

    // 빌딩타입 불러오기    
    var url2 ="properties/" + id + "/buildingtypes"   
    $.ajax({
        method: "get",
        url : endUrl(url2),
        contentType: "application/json; charset=utf-8",
        headers : headers(),
        data:{
            property_id : id,
            language_code : "ko"
        }
    })                                                                               
    .done(function(res) {                         
        console.log(res);        
        $('select[name="buildingtype"]').empty();
        $('select[name="buildingtype"]').append('<option  value="0" value="0" selected="true">빌딩 타입 선택</option>');
        $('select[name="buildingtype"]').prop('selectedIndex', 0); 
        for(var i of res.items){
            $('select[name="buildingtype"]').append($('<option></option>').attr('value', i.id).text(i.name)); 
        }
           
                                                                      
    })
    .fail(function (request, status, error){  
        msg = request.status + "<br>" + request.responseText + "<br>" + error;
        console.log(msg); 
        alert("빌딩타입을 불러 올 수 없습니다.");                          
    })  

    //day-type-offset option
    dayTimeset();

     //빌딩생성하기
     $('#btnNewBuilding').on('click',function(){       
        var name = $('input[name="name"]').val();
        var day_type_offset =$('select[name="day_type_offset"] option:selected').val();     
        var buildingtype_id =$('select[name="buildingtype"] option:selected').val();       
        var commonrooms =[];
        commonrooms =  commonArray();

        //빌딩정보입력 여부 체크  
        // if(day_type_offset == "0"){
        //         alert("핀코드 일단위를 선택해 주세요");
        // }else 
        if(name == ""){
            alert("빌딩이름을 입력해 주세요");    
        }else if(buildingtype_id == "0"){
            alert("빌딩타입을 선택해 주세요");    

        }
        //입력박스 체크 뒤 api 호출 
        var params ={};
        if(!(name == "")){
            params.name = name;
        }
        if(!(day_type_offset == "0")){
            params.day_type_offset = day_type_offset;
        }
        if(!(buildingtype_id == "0")){
            params.buildingtype_id = buildingtype_id;
        }
        if(!(commonrooms == "")){
            params.commonrooms = commonrooms;
        }

        console.log(JSON.stringify(params));
        $.ajax({
            url : endUrl(url),            
            contentType: "application/json; charset=utf-8",
            type:'POST',           
            headers : headers(),              
            data:JSON.stringify(params)
        }) 
        .done(function (res) {
            console.log(res);
            location.href='/properties/'+id+'/building';
           
        })
        .fail(function(jqXHR, textStatus, errorThrown){
            console.log('Error: ' + textStatus + ' - ' + errorThrown);                     
        })  
             
    });

    // 공용도어락 추가
    var doorname;
    $('#btnDoorName').click(function(){        
        doorname = $('#newDoorName').val();   
        if(doorname !== ""){               
            chkDoorName(doorname);
            function chkDoorName(doorname){
                $.ajax({
                    url : endUrl(url),
                    method:'get',
                    contentType: "application/json; charset=utf-8",
                    headers : headers()
                })
                .done(function(result) {        
                    if(result){            
                        for(var i=0; i<result.length; i++){                
                            if(doorname == result[i].commonrooms){
                                alert("동일한 이름의 공용도어가 존재합니다.");
                            }
                        }                             
                    }
                    return false;                                                                           
                })
                .fail(function (request, status, error){  
                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                    console.log(msg);                           
                }) 
            }

            $("#newDoorDone").modal('show');  
            $('#noDoorList').hide();  
            $('#newDoorList').show(); 
            
            var rowItem = '<tr><td scope="col"><div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" name="chkObject" value=""><span class="form-check-sign"></span></label></div></td>';
            rowItem += '<td class="commonDoor">'+ doorname + '</td><td class="td-actions text-right">';
            rowItem += '<button type="button" rel="tooltip" title="수정하기"  data-toggle="modal" data-target="#Editpropertyerror" class="btn btn-info btn-simple btn-link"><i class="fa fa-edit"></i></button></td></tr>';
            $('#newDoorList tbody').prepend(rowItem);
            $('#newDoorName').val('');

            // 테이블에 tr행 개수 
            var doorCnt = $('#newDoorList tbody tr').length;
            if(doorCnt > 0){
                $('#doorCnt').text(doorCnt);
            }else if(doorCnt == 0){
                $('#noDoorList').show(); 
                $('#newDoorList').hide(); 
            }
        }else{
            alert("공용도어의 이름을 입력해 주세요");
        }
    });
    // 공용도어락 삭제
    function fn_delRow(chkObjNm) { 
        if ($("input[name="+chkObjNm+"]").is(":checked")){ 
            if (confirm("삭제 하시겠습니까?")) { 
                for(var i=$("[name='"+chkObjNm+"']:checked").length-1; i>-1; i--){ 
                   $("[name='"+chkObjNm+"']:checked").eq(i).closest("tr").remove();                   
                } 

                // 등록한 도어락 모두 삭제경우                
                var doorCnt = $('#newDoorList tbody tr').length;  
                console.log(doorCnt);
                if(doorCnt == 0){
                    $('#noDoorList').show(); 
                    $('#newDoorList').hide(); 
                }else{
                    $('#doorCnt').text(doorCnt);                           
                }
            } 
         } else { 
            alert("선택된 데이터가 없습니다.");  
         }       
    }

    //commondoor 이름 읽기
    function commonArray(){           
        var commonrooms = $("#newDoorList > tbody").find('tr').map(function(){      
            return $(this).find('.commonDoor').text();
            }).get();
        return commonrooms;
    }

 

   
    
</script>