
<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                            <div class="input-group">
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><i class="nc-icon nc-zoom-split"></i></button>                                          
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search for keyword">
                            </div><!-- /input-group -->                   

                            <h4>빌딩리스트 <span class="text-info">[ 10개 ]</span></h4>
                            <div class="card">                                   
                                    <div class="content table-responsive  table-full-width">
                                        <table class="table table-hover">
                                            <colgroup>
                                                <col width="20%">
                                                <col width="*">
                                                <col width="30%">
                                                <col width="15%">
                                            </colgroup>
                                            <thead>                                               
                                                <th>생성일</th>
                                                <th>빌딩이름</th>
                                                <th>상태정보요약</th>
                                                <th>정렬:생성일 기준</th>
                                            </thead>
                                            <tbody>
                                                <tr>                                                  
                                                    <td>DD-MM-YYYY  HH:MM</td>
                                                    <td><a href="room_list">Residence A</a></td>
                                                    <td>Room : 20  / Common : 2</td>
                                                    <td>
                                                        <button onclick="location.href='building_edit' " type="button"  title="수정하기" class="btn btn-simple btn-link">
                                                            <i class="icon edit"></i>
                                                        </button>
                                                        <button type="button" title="삭제하기" class="btn btn-simple btn-link">
                                                            <i class="icon trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>                                                  
                                                    <td>DD-MM-YYYY  HH:MM</td>
                                                    <td><a href="room_list">Residence B</a></td>
                                                    <td>Room : 20  / Common : 2</td>
                                                    <td>
                                                        <button onclick="location.href='building_edit' " type="button"  title="수정하기" class="btn btn-simple btn-link">
                                                            <i class="icon edit"></i>
                                                        </button>
                                                        <button type="button" title="삭제하기" class="btn btn-simple btn-link">
                                                            <i class="icon trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>        
                                    </div>
                            </div>

                            <button class="btn btn-default btn-fill shadow pull-left">취소</button>
                            <button onclick="location='building_new'" class="btn btn-primary btn-fill shadow pull-right">단지 생성하기</button>
                           
                    </div>
                </div>
            </div>
        </div>

<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

