<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

          <div class="content">
              <div class="row">    
                    <div class="col-md-12">                                  
                      <%- include('inc/search') %><!-- 검색 -->
                     
                      <div class="slide_wrap" style="display: none;">
                        <ul id="property_list">                            	                                                  
                            <li  class="col-md-4">
                                    <div class="card card_default card-s2">
                                        <div class="image">
                                            <i class="icon"></i>
                                        </div>
                                        <div class="content">
                                            <h4 class="title">
                                                <a href="/property_new"  class="icon"></a>
                                            </h4>
                                            <p class="description">
                                                새로운 단지를 신규로 생성합니다.
                                            </p>                                 
                                        </div>
                                    </div>
                            </li>
                        </ul>  
                        <nav class="bx-control">
                            <a href='#' class='bxPrev'></a>
                            <a href='#' class='bxNext'></a>
                        </nav>
                      </div>
                     
                      <div class="con_default" style="display:none">
                        <i class="icon building"></i>
                        <h4 class="text-info">'아직 생성된 단지 정보가 없습니다.'</h4>
                        <p>단지를 생성하여 놀라운 서비스를 시작해 보세요. </p>
                        <a href="/property_new" class="btn btn-primary btn-fill btn-wd shadow" role="button">단지 생성하기</a>
                      </div>
                </div>
              </div>
          </div>     
         
<% include inc/footer %>
<% include inc/modal %>   
<% include inc/bottom %>

<script>  
    navTitle('단지선택','');
    var API_KEY = localStorage.getItem('api_key');
    //property list api
    $.ajax({
        url:'https://development.api.allegion.imgate.co.kr/v1/properties',
        method:'get',
        contentType: "application/json; charset=utf-8",
        headers : {
            "Authorization": "Bearer " + API_KEY
        }
    })
    .done(function(result) {  
        var liHtml=''; 
        console.log(result);
        if(result.items){
            $('.slide_wrap').show();
            for(var data of result.items){
                liHtml ='<li class="col-md-4"><div class="card shadow card-s2"><div class="image">';                        
                liHtml+='<img src="assets/img/img_building.jpg" alt=""></div><div class="content">';                      
                liHtml+='<a href="/property_read/' + data.id + '"> <h4 class="title">'+ data.name +'</h4></a>';
                liHtml+='<p class="description">'+ data.address +'</p></div>';
                liHtml+='<a class="setting icon"  data-property_id="' + data.id + '" data-toggle="modal" data-target="#propertySetting" class="open-properDial" role="button" ></a>';
                liHtml+='</li>';
                $('#property_list').prepend(liHtml);
            }                
            propertyList();//슬라이드 
          
        }else if(result == null || result == undefined){
            $('.con_default').show();
        }                                                                                     
     })
    .fail(function (request, status, error){  
        msg = request.status + "<br>" + request.responseText + "<br>" + error;
        console.log(msg);                           
    }) 

    // 설정클릭시 수정/삭제 선택 모달
    $('#propertySetting').on('show.bs.modal', function(e) {        
         var id = $(e.relatedTarget).data('property_id');//해당 프라퍼티 아이디 가지고 오기
         $(e.currentTarget).find('.pro_edit').prop('href','/property_edit/'+ id );
         $(e.currentTarget).find('.pro_del').prop('href','/property_del/'+id);
     });                  
</script>     

