
<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">                       
                    <div class="con_done">                      
                        <h4 class="text-info">선택된 단지를 삭제 하시겠습니까?</h4>
                        <p>단지에 사용중인 키가 있을 경우<br> 사용중인 키를 제거 후 삭제를 진행해 주십시오</p>                       
                        <div class="card shadow  card-s2">
                            <div class="image">
                                <img src="assets/img/img_building.jpg" alt="">
                            </div>
                            <div class="content">
                                <h4 class="title"></h4>
                                <p class="description"></p>                                                              
                            </div>                                  
                        </div>                       
                        <br>
                        <a href="/" class="btn btn-default btn-fill btn-wd shadow" role="button">나가기</a>
                        <!-- <a data-toggle="modal" data-target="#Delproperty"class="btn btn-primary btn-fill btn-wd shadow" role="button">단지 삭제하기</a> -->
                        <button type="button" class="btn btn-primary btn-fill btn-wd shadow"  id="del_property">단지 삭제하기</button>
                    </div>
                </div>
            </div>
        </div>
        
<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

<script>
    // property 내용보기
    var id = "<%= id %>"; 
    var API_KEY = localStorage.getItem('api_key'); 
    var url ='properties/';
    $(function(){     
        $.ajax({
            //property 상세보기 api
            url: endUrl(url) + id,
            method:'get',
            contentType: "application/json; charset=utf-8",
            data:{
                property_id : id
            },
            headers : headers()
        })
        .done(function(result) {                
            $('h4.title').text(result.name);
            $('p.description').text(result.address);
            $('#del_property').attr('data-property-name', result.name);            
            navTitle(result.name,result.address); 
         })
        .fail(function (request, status, error){  
            msg = request.status + "<br>" + request.responseText + "<br>" + error;
            console.log(msg);                           
        })    
    });

// property 삭제하기
$('#del_property').click(function(){
    $.ajax({
        url: endUrl(url) + id,
        method:'delete',
        contentType: "application/json; charset=utf-8",
        data:JSON.stringify({
            property_id : id
        }),
        headers : headers()
    })
    .done(function(res) {                
        console.log(res); 
        if(res.code == 200){
            $('#Delproperty').on('show.bs.modal', function(e) {        
                $(this).$('h6').text();         
            }); 
            location.href='/';
        }else{
            alert("삭제 실패");
        }
        
     })
    .fail(function (request, status, error){  
        msg = request.status + "<br>" + request.responseText + "<br>" + error;
        console.log(msg);                           
    })   
});


// 단지삭제
$('#del_property').on('click', function(e) {
    var $modalDiv = $(e.delegateTarget);
    var id = $(this).data('recordId');
    // $.ajax({url: '/api/record/' + id, type: 'DELETE'})
    // $.post('/api/record/' + id).then()
    $modalDiv.addClass('loading');
    setTimeout(function() {
        $modalDiv.modal('hide').removeClass('loading');
    }, 1000)
});
// $('#confirm-delete').on('show.bs.modal', function(e) {
//     var data = $(e.relatedTarget).data();
//     $('.title', this).text(data.recordTitle);
//     $('.btn-ok', this).data('recordId', data.recordId);
// });
    
</script>