
<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                        <div class="col-md-6">
                                <div class="card card-h2">
                                    <div class="card-header">
                                        <h5 class="card-title">단지정보 수정</h5>
                                    </div> 
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>단지 이름</label>
                                                        <input type="text" class="form-control" name="viewName">
                                                    </div>
                                                </div>                                                        
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-12">                                                           
                                                            <div class="row form-group">
                                                                <div class="col-md-6">
                                                                    <label>단지 지역 정보 입력</label>
                                                                    <select class="form-control" id="CountryName" name="country_code"></select> 
                                                                </div> 
                                                                <div class="col-md-6 pr-1">
                                                                    <label class="txt_hidden">도시입력</label>
                                                                    <input type="text" class="form-control" id="local" name="viewCity">                                                                  
                                                                </div> 
                                                                <div class="col-md-12 pl-1 pr-1">                                                                        
                                                                    <select class="form-control"  name="timezone"></select>                                                                                                                                                                                            
                                                                </div>
                                                                <div class="col-md-12 pl-1">                                                                        
                                                                    <input type="text" class="form-control" id="address" name="address" onkeyup="chkword(this,200);">
                                                                </div>
                                                             </div>  
                                                    </div>
                                                </div> 
                                                <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="day_type_offset">일 단위 타입 선택</label>
                                                                <select class="form-control"  name="day_type_offset"></select>                                                               
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">  
                                                                <label>단지 이미지 등록</label>
                                                                <!-- 이미지등록 알아볼것 -->
                                                                <input type="file" class="form-control" id="hotel_logo" placeholder="배경 이밎 첨부파일 등록 [png,jpg]">
        
                                                                <!-- <div class="img_insert">
                                                                    <i class="icon image_state"></i>                                                            
                                                                    <span>
                                                                        imagenamadadadasdasdasdasdadasdase.png<br><small>100.1MB</small>
                                                                    </span>
                                                                    <button type="button" rel="이미지삭제" title="Remove" class="btn btn-simple btn-link">
                                                                        <i class="icon trash"></i>
                                                                    </button>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>                                                                                           
                                        </form>
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">공용도어 정보 입력</h5>                                      
                                    </div> 
                                    <div class="card-body">
                                            <div class="table-full-width"> 
                                                    <table class="table" id="noDoorList" style="display: none;"> 
                                                            <tr>
                                                                <td>
                                                                    <div class="con_default">
                                                                        <i class="icon m_issuekey"></i>
                                                                        <h4 class="text-center text-info">
                                                                            ‘등록된 공용 도어가 없습니다 ’<br>
                                                                            <span>도어락 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                                        </h4>
                                                                    </div>                                                                 
                                                                </td>
                                                            </tr>
                                                    </table>

                                                   <table class="table" id="readDoorList" >
                                                        <colgroup>
                                                            <col width="10%">
                                                            <col width="*">
                                                            <col width="25%">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2">
                                                                    <div class="form-check">
                                                                        <label class="form-check-label" style="line-height: 20px;">
                                                                            <input class="form-check-input" type="checkbox" value="">
                                                                            <span class="form-check-sign"></span>                                                                            
                                                                        </label>
                                                                        <span>1 selected</span>
                                                                        <!-- <button type="button" rel="이미지삭제" title="Remove" class="btn btn-simple btn-link">
                                                                            <i class="icon trash"></i>
                                                                        </button> -->
                                                                        <button type="button" title="삭제하기" id="delTrash" class="btn btn-simple btn-link" onClick="fn_delRow('chkObject');">
                                                                                <i class="icon trash"></i>
                                                                        </button>
                                                                    </div>
                                                                   
                                                                </th>                                                               
                                                                <th class="text-right">total: <strong class="text-primary" id="doorCnt"></strong></th>
                                                            </tr>
                                                        </thead> 
                                                        
                                                      <tbody></tbody>
                                                    </table>
                                                </div>
                                    </div>
                                    <div class="card-footer ">
                                            <hr>
                                            <div class="state form-inline">                                                  
                                               <input type="text" class="form-control" placeholder="공용도어 이름 입력">  
                                               <a role="button" data-toggle="modal" data-target="#newPropertyDone" class="btn btn-primary">공용도어 추가</a>
                                            </div>
                                        </div>
                                </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12 text-center">
                            <button type="reset" class="btn btn-default btn-fill shadow pull-left" onclick="location='javascript:history.back()'">취소</button>                           
                            <button type="button" onclick="location='propery_new_done'" class="btn btn-fill btn-primary pull-right shadow">단지 수정 하기</button>
                        </div>
                </div>
            </div>
        </div>
<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

<script>
     countryCodejson();//국가코드 선택  
    $('select[name="country_code"]').on("change", function(){ 
        $(this).val().replace(/\D/g,'');
    });
    timeZone(); // 타임존선택 timeZone
    dayTimeset();////day-type-offset option
  
    //프라퍼티 상세보기  
    var API_KEY = localStorage.getItem('api_key'); 
    var url = 'properties/';                  
    var id = "<%= id %>";           
    $.ajax({                   
        //property 상세보기 api
        url : endUrl(url)+ id ,
        method:'get',
        contentType: "application/json; charset=utf-8",
        data:{
            property_id : id
        },
        headers : headers()
    })
    .done(function(res) { 
        navTitle(res.name,res.address);    
        $('[name="viewName"]').val(res.name);
        $('[name="country_code"]').val(res.country_code);
        $('[name="viewCity"]').val(res.city);
        $('[name="timezone"]').val(res.timezone);
        $('[name="address"]').val(res.address);
        $('[name="day_type_offset"]').val(res.day_type_offset);
        for(var i in res.commonrooms){
            var id = res.commonrooms[i].id;
            var name = res.commonrooms[i].name;  
            var rowItem = '<tr><td scope="col"><div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" name="chkObject" value=""><span class="form-check-sign"></span></label></div></td>';
    rowItem += '<td class="commonDoor">'+ name + '</td><td class="td-actions text-right">';
    rowItem += '<button type="button" rel="tooltip" title="수정하기"  data-toggle="modal" data-common_id="' + id + '" name ="editName" class="btn btn-info btn-simple btn-link "><i class="fa fa-edit"></i></button></td></tr>';
            $('#readDoorList tbody').append(rowItem);
        }
         // 테이블에 tr행 개수 
        var doorCnt = $('#readDoorList tbody tr').length;
        if(doorCnt > 0){
            $('#doorCnt').text(doorCnt);
        }else if(doorCnt == 0){
            $('#noDoorList').show(); 
            $('#readDoorList').hide(); 
        }
    })
    .fail(function (request, status, error){  
        msg = request.status + "<br>" + request.responseText + "<br>" + error;
        console.log(msg);                           
    })   


    // 공용도어락 삭제
    function fn_delRow(chkObjNm) {  
        var commonId= $('[name=editName]').data('common_id');           
        var url= '/properties/' + id + '/commonrooms/' + commonId;
        if ($("input[name="+chkObjNm+"]").is(":checked")){ 
            if (confirm("삭제 하시겠습니까?")) { 
                for(var i=$("[name='"+chkObjNm+"']:checked").length-1; i>-1; i--){ 
                    $("[name='"+chkObjNm+"']:checked").eq(i).closest("tr").remove();                   
                } 
                $.ajax({
                    url: endUrl(url),
                    method:'delete',
                    contentType: "application/json; charset=utf-8",                   
                    headers : headers()
                })
                .done(function(res) {                
                    console.log(res); 
                    // if(res.code == 200){
                    //     $('#Delproperty').modal('show', function(e) { 
                    //         var name = $(e.relatedTarget).data('property_name');
                    //         $(this).$('h6').text(name);         
                    //     });                        
                    // }else{
                    //     alert("삭제 실패");
                    // }
                    
                })
                .fail(function (request, status, error){  
                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                    console.log(msg);                           
                }) 
             // 등록한 도어락 모두 삭제경우                
                // var doorCnt = $('#newDoorList tbody tr').length;  
                // console.log(doorCnt);
                // if(doorCnt == 0){
                //     $('#noDoorList').show(); 
                //     $('#readDoorList').hide(); 
                // }
                // $('#doorCnt').text(doorCnt);
            } 
        } else { 
            alert("선택된 데이터가 없습니다.");  
        }       
    }




        
    </script>