
<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                        <div class="col-md-6">
                                <div class="card card-h2">
                                    <div class="card-header">
                                        <h5 class="card-title">단지정보 수정</h5>
                                    </div> 
                                    <div class="card-body">
                                        <form id="item_edit_form" data-parsley-validate>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>단지 이름</label>
                                                        <input type="text" class="form-control" name="viewName">
                                                    </div>
                                                </div>                                                        
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-12">                                                           
                                                            <div class="row form-group">
                                                                <div class="col-md-6">
                                                                    <label>단지 지역 정보 입력</label>
                                                                    <select class="form-control" id="CountryName" name="viewCountry"></select> 
                                                                </div> 
                                                                <div class="col-md-6 pr-1">
                                                                    <label class="txt_hidden">도시선택</label>
                                                                    <input type="text" class="form-control" id="local" name="viewCity">                                                                  
                                                                </div> 
                                                                <div class="col-md-12 pl-1 pr-1">                                                                        
                                                                    <select class="form-control" id="timeZone" name="viewTimeZone"></select>                                                                                                                                                                                            
                                                                </div>
                                                                <div class="col-md-12 pl-1">                                                                        
                                                                    <input type="text" class="form-control" id="address" name="viewAddress">
                                                                </div>
                                                             </div>  
                                                    </div>
                                                </div>                                                                                            
                                                                                    
                                        </form>
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">공용도어 정보 입력</h5>                                      
                                    </div> 
                                    <div class="card-body">
                                            <div class="table-full-width">                                               
                                                   <table class="table">
                                                        <colgroup>
                                                            <col width="10%">
                                                            <col width="*">
                                                            <col width="25%">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2">
                                                                    <div class="form-check">
                                                                        <label class="form-check-label" style="line-height: 20px;">
                                                                            <input class="form-check-input" type="checkbox" value="">
                                                                            <span class="form-check-sign"></span>                                                                            
                                                                        </label>
                                                                        <span>1 selected</span>
                                                                        <!-- <button type="button" rel="이미지삭제" title="Remove" class="btn btn-simple btn-link">
                                                                            <i class="icon trash"></i>
                                                                        </button> -->
                                                                        <button role="button" data-toggle="modal" data-target="#Delproperty"  class="btn btn-simple btn-link">
                                                                                <i class="icon trash"></i>
                                                                        </button>
                                                                    </div>
                                                                   
                                                                </th>                                                               
                                                                <th class="text-right">total: <strong class="text-primary">4</strong></th>
                                                            </tr>
                                                        </thead> 
                                                        
                                                      <tbody>
                                                            <tr>
                                                                <td scope="col">
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input class="form-check-input" type="checkbox" value="" id="doorCheck">
                                                                            <span class="form-check-sign"></span>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>빌딩 주 출입구 A</td>
                                                                <td class="td-actions text-right">
                                                                    <button type="button" rel="tooltip" title="수정하기"  data-toggle="modal" data-target="#Editpropertyerror" class="btn btn-info btn-simple btn-link">
                                                                        <i class="fa fa-edit"></i>
                                                                    </button>                                                                                              
                                                                </td>
                                                            </tr>                                                                                                                                             
                                                        </tbody>
                                                    </table>
                                                </div>
                                    </div>
                                    <div class="card-footer ">
                                            <hr>
                                            <div class="state form-inline">                                                  
                                               <input type="text" class="form-control" placeholder="공용도어 이름 입력">                                                            
                                               <!-- <button type="submit" class="btn btn-primary">공용도어 추가</button> -->
                                               <a role="button" data-toggle="modal" data-target="#newPropertyDone" class="btn btn-primary">공용도어 추가</a>
                                            </div>
                                        </div>
                                </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12 text-center">
                            <button type="reset" class="btn btn-default btn-fill shadow pull-left">취소</button>                           
                            <button type="button" onclick="location='propery_new_done'" class="btn btn-fill btn-primary pull-right shadow">단지 수정 하기</button>
                        </div>
                </div>
            </div>
        </div>
<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

<script>
    //국가선택 
    $('#CountryName').empty();
    $('#CountryName').append('<option selected="true" disabled>국가 선택</option>');
    $('#CountryName').prop('selectedIndex', 0);  
    $.ajax({
        url : '/countries', //json 불러오기 router이용해서 불러옴
        dataType :'json',
        success : function (data) {
            console.log(data);
            $.each(data, function (key, entry) {                
                $('#CountryName').append($('<option></option>').attr('value', key).text(entry.name + ' / ' + key ));                             
            })
        },
        error: function(jqXHR, textStatus, errorThrown){
        console.log('Error: ' + textStatus + ' - ' + errorThrown);                     
        }    
    });

     // 타임존선택 timeZone
    $('#timeZone').empty();
    $('#timeZone').append('<option selected="true" disabled>타임존 선택</option>');
    $('#timeZone').prop('selectedIndex', 0);  
    $.ajax({
        url : '/timezone', //json 불러오기 router이용해서 불러옴
        dataType :'json',
        success : function (data) {
            console.log(data);
            $.each(data, function (key, entry) { 
                $('#timeZone').append($('<option></option>').attr('value', entry.code).text('['+entry.code+'] '+entry.ko)); 
            })
        },
        error: function(jqXHR, textStatus, errorThrown){
          console.log('Error: ' + textStatus + ' - ' + errorThrown);                     
        }    
    });

        //프라퍼티 상세보기
            $(function(){    
                var id = "<%= id %>";   
                var API_KEY = localStorage.getItem('api_key');              
                $.ajax({
                    //property 상세보기 api
                    url:'https://development.api.allegion.imgate.co.kr/v1/properties/'+ id,
                    method:'get',
                    contentType: "application/json; charset=utf-8",
                    dataType:"json",
                    data:{
                        property_id : id
                    },
                    headers : {
                        "Authorization": "Bearer " + API_KEY
                    }
                })
                .done(function(result) {    
                    $('input[name="viewName"').val(result.name);
                    $('input[name="viewCountry"').val(result.country_code);
                    $('input[name="viewCity"').val(result.city);
                    $('input[name="viewTimeZone"').val(result.timezone);
                    $('input[name="viewAddress"').val(result.address);
                    navTitle(result.name,result.address); 
                })
                .fail(function (request, status, error){  
                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                    console.log(msg);                           
                })    
            });
        
    </script>