
<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                        <div class="col-md-6">
                                <div class="card card-h2">
                                    <div class="card-header">
                                        <h5 class="card-title">단지정보 수정</h5>
                                    </div> 
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>단지 이름</label>
                                                        <input type="text" class="form-control" name="name" onFocus='this.value=""; return false;'>
                                                    </div>
                                                </div>                                                        
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-12">                                                           
                                                            <div class="row form-group">
                                                                <div class="col-md-6">
                                                                    <label>단지 지역 정보 입력</label>
                                                                    <select class="form-control" id="CountryName" name="country_code"></select> 
                                                                </div> 
                                                                <div class="col-md-6 pr-1">
                                                                    <label class="txt_hidden">도시입력</label>
                                                                    <input type="text" class="form-control" id="local" name="city" >                                                                     
                                                                </div> 
                                                                <div class="col-md-12 pl-1 pr-1">                                                                        
                                                                    <select class="form-control"  name="timezone"></select>                                                                                                                                                                                            
                                                                </div>
                                                                <div class="col-md-12 pl-1">                                                                        
                                                                    <input type="text" class="form-control" id="address" name="address" onkeyup="chkword(this,200);">
                                                                </div>
                                                             </div>  
                                                    </div>
                                                </div> 
                                                <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="day_type_offset">일 단위 타입 선택</label>
                                                                <select class="form-control"  name="day_type_offset"></select>                                                               
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">  
                                                                <label>단지 이미지 등록</label>
                                                                <!-- 이미지등록 알아볼것 -->
                                                                <input type="file" class="form-control" name="hotel_logo" placeholder="배경 이밎 첨부파일 등록 [png,jpg]">        
                                                            </div>
                                                        </div>
                                                    </div>                                                                                           
                                        </form>
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">공용도어 정보 입력</h5>                                      
                                    </div> 
                                    <div class="card-body">
                                            <div class="table-full-width"> 

                                                <!-- 공용도어ㅇ없을때 -->
                                                    <table class="table" id="noDoorList" style="display: none;"> 
                                                            <tr>
                                                                <td>
                                                                    <div class="con_default">
                                                                        <i class="icon m_issuekey"  role="presentation"></i>
                                                                        <h4 class="text-center text-info">
                                                                            ‘등록된 공용 도어가 없습니다 ’<br>
                                                                            <span>도어락 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                                        </h4>
                                                                    </div>                                                                 
                                                                </td>
                                                            </tr>
                                                    </table>

                                                <!-- 공용도어 있을때 -->
                                                   <table class="table" id="doorList" style="display: none;"> 
                                                        <colgroup>
                                                            <col width="10%">
                                                            <col width="*">
                                                            <col width="25%">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2">
                                                                    <div class="form-check">
                                                                        <label class="form-check-label" style="line-height: 20px;">
                                                                            <input class="form-check-input" type="checkbox" value="">
                                                                            <span class="form-check-sign"></span>                                                                            
                                                                        </label>
                                                                        <span>1 selected</span>
                                                                        <button type="button" title="삭제하기" id="delTrash" class="btn btn-simple btn-link" onClick="fn_delRow('chkObject');">
                                                                                <i class="icon trash"   role="presentation"></i>
                                                                        </button>
                                                                    </div>
                                                                </th>                                                               
                                                                <th class="text-right">total: <strong class="text-primary" id="doorCnt"></strong></th>
                                                            </tr>
                                                        </thead> 
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                    </div>
                                    <div class="card-footer ">
                                            <hr>
                                            <div class="state form-inline">                                                  
                                               <input type="text" class="form-control" id="doorName"  placeholder="공용도어 이름 입력" onkeyup="chkword(this,100);">
                                               <button type="button" class="btn btn-primary" id="btnDoorName">공용도어 추가</button>  
                                            </div>
                                        </div>
                                </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="reset" class="btn btn-default btn-fill shadow pull-left" onclick="location='javascript:history.back()'">뒤로가기</button>                           
                            <button type="button" class="btn btn-fill btn-primary pull-right shadow" id="btnItem">단지 수정 완료</button>
                        </div>
                </div>
            </div>
        </div>
<% include inc/footer %>
<% include inc/modal %>

<!-- 공용도어 수정Modal -->
<div class="modal fade modal-primary" id="EditName" tabindex="-1" role="dialog" aria-labelledby="EditName" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <h5>알림</h5>
            </div>
            <div class="modal-body setting_choice">
                    <i class="icon confirm"></i>                       
                <h6>공용도어 이름 수정</h6>
                <p>이름을 입력해 주세요  <input type= "text" value="" name="editDoorName">  </p>
            </div>
            <div class="modal-footer">                   
                <button type="button" class="btn btn-default btn-fill btn-wd shadow"   name="btnEditNameDone">수정</button>
            </div>
        </div>
    </div>
<div>

    
<% include inc/bottom %>

<script>
    //프라퍼티(단지) 상세보기 api
    countryCodejson();//국가코드 선택  
    $('select[name="country_code"]').on("change", function(){ 
        $(this).val().replace(/\D/g,'');
    });
    timeZone(); // 타임존선택 timeZone
    dayTimeset();////day-type-offset option

    var API_KEY = localStorage.getItem('api_key'); 
    var url = 'properties/';                  
    var id = "<%= id %>";  
      
    $.ajax({  
        url : endUrl(url)+ id ,
        method:'get',
        contentType: "application/json; charset=utf-8",        
        headers : headers()
    })
    .done(function(res) { 
        console.log(res); 

        // 상단네비 타이틀
        navTitle(res.name,res.address);    

        $('[name="name"]').val(res.name);
        $('[name="country_code"]').val(res.country_code);
        $('[name="city"]').val(res.city);
        $('[name="timezone"]').val(res.timezone);
        $('[name="address"]').val(res.address);
        $('[name="day_type_offset"]').val(res.day_type_offset);
        //도어락정보리스트
        for(var i in res.commonrooms){
            var id = res.commonrooms[i].id;
            var name = res.commonrooms[i].name;  
            var rowItem = '<tr><td scope="col"><div class="form-check" rel="tooltip" ><label class="form-check-label"><input class="form-check-input" type="checkbox" name="chkObject" value="" ><span class="form-check-sign"></span></label></div></td>';
            rowItem += '<td class="commonDoor">'+ name + '</td><td class="td-actions text-right">';
            rowItem += '<button type="button" rel="tooltip" title="수정하기"  data-toggle="modal" data-common_id="' + id + '" data-target="#EditName" name ="editName" class="btn btn-info btn-simple btn-link "><i class="fa fa-edit"></i></button></td></tr>';
            $('#doorList tbody').append(rowItem);
        }

        checkInstall(); //도어락 설치된것은 삭제 금지


         // 테이블에 tr행 개수 
        var doorCnt = $('#doorList tbody tr').length;
        if(doorCnt > 0){
            $('#doorCnt').text(doorCnt);
            $('#noDoorList').hide(); 
            $('#doorList').show(); 
        }else if(doorCnt == 0){
            $('#noDoorList').show(); 
            $('#doorList').hide(); 
        }
    })
    .fail(function (request, status, error){  
        msg = request.status + "<br>" + request.responseText + "<br>" + error;
        console.log(msg);                           
    })  
    



    //프라퍼티(단지)만 수정 api
    $('#btnItem').on('click',function(){
         //  input 변수
        var name = $('input[name="name"]').val(); //필수
        var country_code =  $('select[name="country_code"] option:selected').val();  //필수
        var timezone = $('select[name="timezone"]  option:selected').val();  //필수
        var city = $('input[name="city"]').val(); //필수
        var address =$('input[name="address"]').val(); //필수
        var day_type_offset =$('select[name="day_type_offset"] option:selected').val(); //필수  
        var type = $('select[name="type"] option:selected').val(); //필수  
        var image_url = $('#hotel_logo').val(); 
       
        //단지정보입력 여부 체크  
        if(name =="" || name == 'undefined'){
            alert("단지이름을 입력해 주세요");    
        }else if(country_code == 0 || !country_code){
            alert("국가코드를 선택해 주세요");
        }else if(city == "" || city == 'undefined'){
            alert("도시명를 입력해 주세요");
        }else if(timezone == 0){
            alert("타임존을 선택해 주세요");
        }else if(address == "" || address == 'undefined'){
            alert("상세주소를 입력해 주세요");
        }else if(address){
            $('input[name="address"]').val(characterCheck(address));
            if(type == 0){
                alert("단지 타입을 선택해 주세요");  
            }else{

                // //같은 단지 다른주소 생성 체크(같은 단지 같은 주소 안됨)
                var cnt =0;
                $.ajax({
                    url : endUrl(url),
                    method:'GET',
                    contentType: "application/json; charset=utf-8",
                    headers : headers()
                })
                .done(function(res) {  
                    console.log(res); 
                    for(var i=0; i<res.items.length; i++){                
                        if(name == res.items[i].name && address == res.items[i].address){ 
                            cnt++;                 
                        }                
                    }    
                    if(cnt >=1){                   
                        alert("동일한 단지에 동일한 주소가 존재합니다. 다른 주소를 입력해 주세요");
                        $('input[name="address"]').focus();
                        $('input[name="address"]').val("");
                    }else{

                        //입력박스 체크 뒤 api 호출 
                        var params ={};
                        if(!(name == "")) params.name = name;
                        if(!(country_code == 0)) params.country_code = country_code;
                        if(!(timezone == 0 )) params.timezone = timezone;
                        if(!(address == "")) params.address = address;
                        if(!(city == "")) params.city = city;        
                        if(!(image_url == "")) params.image_url = image_url;               
                            
                        //단지 수정 api
                        $.ajax({
                            url : endUrl(url)+ id ,            
                            contentType: "application/json; charset=utf-8",
                            type:'PUT',           
                            headers : headers(),              
                            data:JSON.stringify(params)
                        }) 
                        .done(function (res) {
                            console.log(res);
                            $("#editPropertyDone").modal('show'); 
                        })
                        .fail(function(jqXHR, textStatus, errorThrown){
                            console.log('Error: ' + textStatus + ' - ' + errorThrown);                     
                        })  
                        .always(function(){ 
                            setTimeout(function(){
                                location.replace('/');
                            },1500);
                        })
                    }
                })
                .fail(function (request, status, error){  
                        msg = request.status + "<br>" + request.responseText + "<br>" + error;
                        console.log(msg);                           
                }) 
            }
        }
    });


//공용도어 추가입력
    var commonrooms =[]; //공용도어 배열
    $('#btnDoorName').on('click', function(){
        var url="properties/"+ id + "/commonrooms";          
        var doorCnt = $('#doorList tbody tr').length;
        var doorname =$('#doorName').val();
        commonrooms =  commonArray(); 

        if(doorname !== ""){ 
            if(commonrooms.length > 0){
                for(var i=0; i< commonrooms.length;i++){
                    if(doorname == commonrooms[i]){
                        alert("동일한 이름의 공용도어가 존재합니다. 다른 이름을 입력해 주세요");                   
                        $('#doorName').val('');                        
                        return false;
                    }
                }
                
                 // 공용도어추가입력 api
                $.ajax({
                        url : endUrl(url),
                        method:'POST',
                        contentType: "application/json; charset=utf-8",        
                        headers : headers(),
                        data :JSON.stringify({
                            name : doorname
                        })
                    })
                    .done(function(res) {  
                        console.log(res);                    
                        addDoorTr(res.name, res.id);               
                        $('#doorCnt').text(doorCnt + 1); 
                        $("#doorDone").modal('show');  
                        $('#noDoorList').hide();  
                        $('#doorList').show();
                    })
                    .fail(function (request, status, error){  
                        msg = request.status + "<br>" + request.responseText + "<br>" + error;
                        console.log(msg);   
                        alert("공용도어를 추가할 수 없습니다.")                        
                    })
                    .always(function(){                       
                        location.reload();
                    })

            }else if(commonrooms.length == 0){ 
                $("#doorDone").modal('show');  
                $('#noDoorList').hide();  
                $('#doorList').show(); 
                addDoorTr(doorname);
                console.log(commonrooms)
            } 
            $('#doorCnt').text(doorCnt + 1); 

        }else{
            alert("공용도어의 이름을 입력해 주세요");
        }
    });
    

//commondoor 이름 읽기
function commonArray(){           
    var commonrooms = $("#doorList > tbody").find('tr').map(function(){      
        return $(this).find('.commonDoor').text();
    }).get();
    return commonrooms;
}
//공용도어 tr 동적추가
function addDoorTr(doorname, id){
    var rowItem = '<tr><td scope="col"><div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" name="chkObject" value=""><span class="form-check-sign"></span></label></div></td>';
    rowItem += '<td class="commonDoor">'+ doorname + '</td><td class="td-actions text-right">';
    rowItem += '<button type="button" rel="tooltip" title="수정하기" data-toggle="modal" data-doorname="'+ doorname+'" data-common_id="'+ id +'" data-target="#EditName" name ="editName" class="btn btn-info btn-simple btn-link"><i class="fa fa-edit"></i></button></td></tr>';
    $('#doorList tbody').append(rowItem);
    $('#doorName').val(''); 
    commonrooms =  commonArray();
}

    //공용도어 이름 수정시 팝업창?????????????????????????????????????????????????
    $('[name=editName]').on('show.bs.modal', function(e) {        
         var name = $(e.relatedTarget).data('doorname');//해당 프라퍼티 아이디 가지고 오기
         console.log(name)
         $('[name=btnEditNameDone]').on('click', function() {  
            console.log(doorname) 
            var doorname = $(e.currentTarget).find('[name =editDoorName]').val();   
            if(name == doorname){
                alert("동일한 이름이니다. 다른이름으로 입력해 주세요")
            }else{
                alert("ok")
            }
        });
     });  




// 공용도어락 삭제
function fn_delRow(chkObjNm) {      
    if ($("input[name="+chkObjNm+"]").is(":checked")){ 
        
        if (confirm("삭제 하시겠습니까?")) { 
            var commonId="";

            for(var i=$("[name='"+chkObjNm+"']:checked").length-1; i>-1; i--){ 
                commonId=$("[name='"+chkObjNm+"']:checked").eq(i).closest("tr").find('button').data('common_id');
                $("[name='"+chkObjNm+"']:checked").eq(i).closest("tr").remove(); 
            } 

            var url= 'properties/' + id + '/commonrooms/' + commonId;            
            $.ajax({
                url: endUrl(url),
                method:'DELETE',
                contentType: "application/json; charset=utf-8",                   
                headers : headers()
            })
            .done(function(res) {                
                console.log(res);                 
                if(res.code == 200){
                    $('#DelDoor').modal('show', function(e) { 
                        var name = $(e.relatedTarget).data('doorname');
                        $(this).$('h6').text(name);         
                    });                        
                }else{
                    alert("삭제 실패");
                }                
            })
            .fail(function (request, status, error){  
                msg = request.status + "<br>" + request.responseText + "<br>" + error;
                console.log(msg);  
                alert("공용도어 삭제를 할 수 없습니다.");                       
            }) 
            .always(function(){
                  // / 등록한 도어락 모두 삭제경우  
                location.reload();              
                var doorCnt = $('#doorList tbody tr').length; 
                if(doorCnt == 0){                    
                    $('#noDoorList').show(); 
                    $('#doorList').hide(); 
                }else{
                    $('#doorCnt').text(doorCnt);                           
                }
            })
        } 
    } else { 
        alert("선택된 데이터가 없습니다.");  
    }       
}
      

    ///공용도어 도어락 설치 여부
    function checkInstall(){
        var url3="properties/"+ id +"/doorlocks";
        $.ajax({
                method: "get",
                url : endUrl(url3),
                contentType: "application/json; charset=utf-8",
                headers : headers()
            })                                                                               
            .done(function(res) {                         
                console.log('도어락리스트',res); 
                //1.도어락 설치된 공용도어 찾기
                var checkbox = $('[name="chkObject"');
                for(var i=0; i< res.items.length; i++){
                    var temp = (res.items).filter(function(obj){
                        if(obj.status !=='created'){ //도어락설치된것만 찾기
                            checkbox.attr("disabled",true);
                            checkbox.parent().parent().addClass('disabled')
                            .hover(function(){
                                checkbox.parent().parent()
                                .attr('title', '공용도어에 도어락이 설치된 경우, 삭제가 불가능합니다. 모바일 앱의 도어락 설치 메뉴에서 해당 도어락을 삭제한 후, 다시 시도해주세요.');
                            });                                                        
                        }
                    })
                }
                
            })
            .fail(function (request, status, error){  
                msg = request.status + "<br>" + request.responseText + "<br>" + error;
                console.log(msg);                        
            }) 
    }



    </script>