
<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>
        <div class="content">
            <div class="">
                <div class="row">
                        <div class="col-md-6">
                                <div class="card card-h2">
                                    <div class="card-header">
                                        <h5 class="card-title">신규 단지 정보 입력</h5>
                                    </div> 
                                    <div class="card-body">
                                      <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>단지 이름 입력<i class="text-danger">*</i></label>
                                                        <input type="text" class="form-control" placeholder="신규 단지 이름 등록" name="name" onkeyup="chkword(this,100);">
                                                    </div>
                                                </div>                                                        
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">                                                           
                                                        <div class="row form-group">
                                                            <div class="col-md-6">
                                                                <label>단지 지역 정보 입력<i class="text-danger">*</i></label>
                                                                <select class="form-control"  name="country_code" ></select> 
                                                            </div> 
                                                            <div class="col-md-6 pr-1">
                                                                <label class="txt_hidden">도시입력<i class="text-danger" role="presentation"></i></label>
                                                                <input type="text" class="form-control" placeholder="도시명 입력 예)서울" name="city" >                                                               
                                                            </div> 
                                                            <div class="col-md-12 pl-1 pr-1">                                                                        
                                                                <select class="form-control" name="timezone" ></select>                                                                                                                                                                                            
                                                            </div>
                                                            <div class="col-md-12 pl-1">                                                                        
                                                                <input type="text" class="form-control" placeholder="상세 주소 입력(특수문자 - . , () [] {}만 사용)" name="address" onkeyup="chkword(this,200);">
                                                            </div>
                                                         </div>  
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="propertyType">단지 타입 선택</label>
                                                        <select class="form-control" name="type">
                                                            <option value="0" selected="true" disabled>단지 타입 선택</option>
                                                            <option>Residential</option>
                                                            <option>B&B Hotel</option>
                                                            <option>Hospitality</option>
                                                            <option>Office</option>
                                                        </select>                                                               
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-md-12">

                                                                    
                                                                <!-- <div class="input-group date form_date" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                                    <input class="form-control" size="16" type="text" value="">
                                                                   
                                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                                </div>
                                                                <input type="hidden" id="dtp_input2" value="" /><br/>
                                                            </div> -->
                                                           

                                                    <div class="form-group">
                                                        <label for="day_type_offset">일 단위 타입 선택</label>
                                                        <select class="form-control"  name="day_type_offset"></select>  
                                                        <small class="text-info"> ※  일단위 출입코드 발급시 선택한 기간내에서 설정 시각을 기준으로 출입코드를 사용할 수 있습니다.</small>                                                   
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">  
                                                        <label>단지 이미지 등록</label>
                                                        <!-- 이미지등록 알아볼것 -->
                                                        <input type="file" class="form-control" id="hotel_logo" placeholder="배경 이밎 첨부파일 등록 [png,jpg]">

                                                        <!-- <div class="img_insert">
                                                            <i class="icon image_state"></i>                                                            
                                                            <span>
                                                                imagenamadadadasdasdasdasdadasdase.png<br><small>100.1MB</small>
                                                            </span>
                                                            <button type="button" rel="이미지삭제" title="Remove" class="btn btn-simple btn-link">
                                                                <i class="icon trash"></i>
                                                            </button>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>  
                                       </form>
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-6">
                                <div class="card  card-h2">
                                    <div class="card-header">
                                        <h5 class="card-title">공용도어 정보 입력</h5>                                      
                                    </div> 
                                    <div class="card-body">
                                            <div class="table-full-width">                                               
                                                   <table class="table" id="noDoorList"> 
                                                        <tr>
                                                            <td>
                                                                <div class="con_default">
                                                                    <i class="icon m_issuekey"></i>
                                                                    <h4 class="text-center text-info">
                                                                        ‘등록된 공용 도어가 없습니다 ’<br>
                                                                        <span>도어락 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                                    </h4>
                                                                </div>                                                                 
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <table class="table" id="newDoorList" style="display: none;">
                                                            <colgroup>
                                                                <col width="10%">
                                                                <col width="*">
                                                                <col width="25%">
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="2" >
                                                                        <div class="form-check">
                                                                            <label class="form-check-label" style="line-height: 20px;">
                                                                                <input class="form-check-input" type="checkbox" value="">
                                                                                <span class="form-check-sign"></span>                                                                            
                                                                            </label>
                                                                            <span>1 selected</span>
                                                                            <button type="button" title="삭제하기" id="delTrash" class="btn btn-simple btn-link" onClick="fn_delRow('chkObject');">
                                                                                <i class="icon trash"></i>
                                                                            </button>
                                                                        </div>                                                                   
                                                                    </th>                                                               
                                                                    <th class="text-right">total: <strong class="text-primary" id="doorCnt"></strong></th>
                                                                </tr>
                                                            </thead> 
                                                            <tbody></tbody>
                                                    </table>
                                                </div>
                                    </div>
                                    <div class="card-footer ">
                                            <hr>
                                            <div class="state form-inline">                                                  
                                               <input type="text" class="form-control" id="newDoorName" placeholder="공용도어 이름 입력" onkeyup="chkword(this,100);">                                                            
                                               <button type="button" class="btn btn-primary" id="btnDoorName">공용도어 추가</button>                                             
                                            </div>
                                    </div>
                                </div>
                        </div>                 
                        <div class="col-md-12">
                            <button type="reset" class="btn btn-default btn-fill shadow pull-left">취소</button>
                            <button  class="btn btn-primary btn-fill pull-right shadow" id="btnItem">단지 생성 하기</a>                            
                        </div>
                       
                </div>
            </div>
        </div>
<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>


<script type="text/javascript">   
	$('.form_date').datetimepicker({
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });

</script>
<script>    
    navTitle('단지생성','');
    var API_KEY = localStorage.getItem('api_key');
    var url = 'properties';

     //단지생성하기
     $('#btnItem').on('click',function(){
        var name = $('input[name="name"]').val();
        var country_code =  $('select[name="country_code"] option:selected').val();        
        var timezone = $('select[name="timezone"]  option:selected').val();  
        var city = $('input[name="city"]').val();
        var address =$('input[name="address"]').val();
        var day_type_offset =$('select[name="day_type_offset"] option:selected').val();   
        var image_url = $('#hotel_logo').val();   
        var commonrooms =[];
        commonrooms =  commonArray();

        //단지정보입력 여부 체크  
        if(name ==""){
            alert("단지이름을 입력해 주세요");    
        }else if(country_code == 0){
            alert("국가코드를 선택해 주세요");
        }else if(timezone == 0){
            alert("타임존을 선택해 주세요")
        }else if(city == ""){
            alert("도시명를 입력해 주세요")
        }else if(address == ""){
            alert("상세주소를 입력해 주세요")
        }else if(address){
            $('input[name="address"]').val(characterCheck(address));
        }else{               
            chkAdd(name, address);
        }
        //입력박스 체크 뒤 api 호출 
        var params ={};
        if(!(name == "")){
            params.name = name;
        }
        if(!(country_code == 0)){
            params.country_code = country_code;
        }
        if(!(timezone == 0 )){
            params.timezone = timezone;
        }
        if(!(address == "")){
            params.address = address;
        }
        if(!(city == "")){
            params.city = city;
        }
        if(!(day_type_offset == "")){
            params.day_type_offset = day_type_offset;
        }
        if(!(image_url == "")){
            params.image_url = image_url;
        }
        if(!(commonrooms == "")){
            params.commonrooms = commonrooms;
        }

        console.log(JSON.stringify(params));                   
        $.ajax({
            url : endUrl(url),            
            contentType: "application/json; charset=utf-8",
            type:'POST',           
            headers : headers(),              
            data:JSON.stringify(params)
        }) 
        .done(function (res) {
            console.log(res);
            location.href='/propery_new_done';

        })
        .fail(function(jqXHR, textStatus, errorThrown){
            console.log('Error: ' + textStatus + ' - ' + errorThrown);                     
        })  
             
    });

     //동일한 단지이름과 상세주소 있는지 체크
     function chkAdd(name,address){       
        $.ajax({
            url : endUrl(url),
            method:'get',
            contentType: "application/json; charset=utf-8",
            headers : headers()
        })
        .done(function(result) {                           
            if(result){            
                for(var i=0; i<result.length; i++){                
                    if(this.name == result[i].name && this.address == result[i].address){
                        alert("단지 이름과 상세 주소가 동일한 정보가 있습니다.");
                    }
                }                             
            }
            return false;                                                                           
        })
        .fail(function (request, status, error){  
            msg = request.status + "<br>" + request.responseText + "<br>" + error;
            console.log(msg);                           
        }) 
    }

   
    
    countryCodejson();//국가코드 선택  
    $('select[name="country_code"]').on("change", function(){ 
        $(this).val().replace(/\D/g,'');
    }); 
    timeZone();// 타임존선택 timeZone

    //day-type-offset option
    dayTimeset();

    // 공용도어락 추가
    var doorname;
    $('#btnDoorName').click(function(){        
        doorname = $('#newDoorName').val();   
        if(doorname !== ""){               
            chkDoorName(doorname);
            function chkDoorName(doorname){
                $.ajax({
                    url : endUrl(url),
                    method:'get',
                    contentType: "application/json; charset=utf-8",
                    headers : headers()
                })
                .done(function(result) {        
                    if(result){            
                        for(var i=0; i<result.length; i++){                
                            if(doorname == result[i].commonrooms){
                                alert("동일한 이름의 공용도어가 존재합니다.");
                            }
                        }                             
                    }
                    return false;                                                                           
                })
                .fail(function (request, status, error){  
                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                    console.log(msg);                           
                }) 
            }

            $("#newDoorDone").modal('show');  
            $('#noDoorList').hide();  
            $('#newDoorList').show(); 
            
            var rowItem = '<tr><td scope="col"><div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" name="chkObject" value=""><span class="form-check-sign"></span></label></div></td>';
            rowItem += '<td class="commonDoor">'+ doorname + '</td><td class="td-actions text-right">';
            rowItem += '<button type="button" rel="tooltip" title="수정하기"  data-toggle="modal" data-target="#Editpropertyerror" class="btn btn-info btn-simple btn-link"><i class="fa fa-edit"></i></button></td></tr>';
            $('#newDoorList tbody').prepend(rowItem);
            $('#newDoorName').val('');

            // 테이블에 tr행 개수 
            var doorCnt = $('#newDoorList tbody tr').length;
            if(doorCnt > 0){
                $('#doorCnt').text(doorCnt);
            }else if(doorCnt == 0){
                $('#noDoorList').show(); 
                $('#newDoorList').hide(); 
            }
        }else{
            alert("공용도어의 이름을 입력해 주세요");
        }
    });
    // 공용도어락 삭제
    function fn_delRow(chkObjNm) { 
        if ($("input[name="+chkObjNm+"]").is(":checked")){ 
            if (confirm("삭제 하시겠습니까?")) { 
                for(var i=$("[name='"+chkObjNm+"']:checked").length-1; i>-1; i--){ 
                   $("[name='"+chkObjNm+"']:checked").eq(i).closest("tr").remove();                   
                } 

                // 등록한 도어락 모두 삭제경우                
                var doorCnt = $('#newDoorList tbody tr').length;  
                console.log(doorCnt);
                if(doorCnt == 0){
                    $('#noDoorList').show(); 
                    $('#newDoorList').hide(); 
                }else{
                    $('#doorCnt').text(doorCnt);                           
                }
            } 
         } else { 
            alert("선택된 데이터가 없습니다.");  
         }       
    }

    //commondoor 이름 읽기
    function commonArray(){           
        var commonrooms = $("#newDoorList > tbody").find('tr').map(function(){      
            return $(this).find('.commonDoor').text();
            }).get();
        return commonrooms;
    }

</script>
