<!doctype html>
<html lang="ko">
        <%- include('inc/head') %> 
<body class="nav-md">

<div class="wrapper">
        <%- include('inc/sidebar') %>

        <div class="main-panel">
                <%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                        <div class="col-md-6">
                                <div class="card card-h2">
                                    <div class="card-header">
                                        <h5 class="card-title">신규 단지 정보 입력</h5>
                                    </div> 
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>단지 정보 입력</label>
                                                        <input type="text" class="form-control" placeholder="신규 단지 이름 등록" value="">
                                                    </div>
                                                </div>                                                        
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">                                                           
                                                        <div class="row form-group">
                                                            <div class="col-md-6">
                                                                <label>단지 지역 정보 입력</label>
                                                                <select class="form-control" id="propertyType">
                                                                    <option>대한민국</option>
                                                                    <option>나라이름2</option>
                                                                    <option>나라이름3</option>
                                                                <select> 
                                                            </div> 
                                                            <div class="col-md-6 pr-1">
                                                                <label class="txt_hidden">도시선택</label>                                                                                                                             
                                                                <select class="form-control" id="propertyType">
                                                                    <option>서울</option>
                                                                    <option>도시이름</option>
                                                                    <option>도시이름</option>
                                                                <select>
                                                            </div> 
                                                            <div class="col-md-12 pl-1 pr-1">                                                                        
                                                                <select class="form-control" id="propertyType">
                                                                    <option>타임존 선택</option>
                                                                    <option>타임존</option>
                                                                    <option>타임존</option>
                                                                <select>                                                                                                                                                                                            
                                                            </div>
                                                            <div class="col-md-12 pl-1">                                                                        
                                                                <input type="text" class="form-control" placeholder="상세 주소 입력" value="">
                                                            </div>
                                                         </div>  
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="propertyType">단지 타입 선택</label>
                                                        <select class="form-control" id="propertyType">
                                                            <option>Hospitality</option>
                                                            <option>Residential</option>
                                                            <option>Office</option>
                                                        <select>                                                               
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">  
                                                        <label>단지 이미지 등록</label>
                                                        <input type="file" class="form-control" placeholder="배경 이밎 첨부파일 등록 [png,jpg]" value="">

                                                        <div class="img_insert">
                                                            <i class="icon image_state"></i>                                                            
                                                            <span>
                                                                imagenamadadadasdasdasdasdadasdase.png<br><small>100.1MB</small>
                                                            </span>
                                                            <button type="button" rel="이미지삭제" title="Remove" class="btn btn-simple btn-link">
                                                                <i class="icon trash"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                        </form>
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-6">
                                <div class="card card-h2">
                                    <div class="card-header">
                                        <h5 class="card-title">공용도어 정보 입력</h5>                                      
                                    </div> 
                                    <div class="card-body">
                                            <div class="table-full-width">                                               
                                                   <table class="table">
                                                        <colgroup>
                                                            <col width="10%">
                                                            <col width="*">
                                                            <col width="25%">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2">
                                                                    <div class="form-check">
                                                                        <label class="form-check-label" style="line-height: 20px;">
                                                                            <input class="form-check-input" type="checkbox" value="">
                                                                            <span class="form-check-sign"></span>                                                                            
                                                                        </label>
                                                                        <span>1 selected</span>
                                                                        <button type="button" rel="이미지삭제" title="Remove" class="btn btn-simple btn-link">
                                                                            <i class="icon trash"></i>
                                                                        </button>
                                                                    </div>
                                                                   
                                                                </th>                                                               
                                                                <th class="text-right">total: <strong class="text-primary">4</strong></th>
                                                            </tr>
                                                        </thead> 
                                                        
                                                          <!-- 공용동어 등록이 안됐을 경우-->
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <div class="con_default">
                                                                        <i class="icon m_issuekey"></i>
                                                                        <h4 class="text-center text-info">
                                                                            ‘ 아직 등록된 공용 도어가 없습니다 ’<br>
                                                                            <span>도어락 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                                        </h4>
                                                                    </div>                                                                 
                                                                </td>
                                                            </tr>
                                                        </tbody>   
                                                    </table>
                                                </div>
                                    </div>
                                    <div class="card-footer ">
                                            <hr>
                                            <div class="state form-inline">                                                  
                                               <input type="text" class="form-control" placeholder="공용도어 이름 입력">                                                            
                                                <!-- <button type="submit" class="btn btn-primary">공용도어 추가</button> -->
                                                <a role="button" data-toggle="modal" data-target="#newPropertyDone" class="btn btn-primary">공용도어 추가</a>
                                            </div>
                                        </div>
                                </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-default btn-fill shadow pull-left">취소</button>
                            <!-- <button type="submit" class="btn btn-info btn-fill shadow">단지생성</button> -->
                            <a type="button" href="propery_new_done.html" class="btn btn-fill btn-primary pull-right">단지 생성 하기</a>
                        </div>
                
                </div>
            </div>
        </div>

        <% include inc/footer %>
    </div>
</div>
<% include inc/modal %>
<% include inc/bottom %>

</body>
</html>
