
<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">                       
                    <div class="con_done">                      
                        <h4 class="text-info">단지가 새롭게 생성되었습니다.</h4>
                        <p>빌딩 / 객실 상세 시설 정보를 등록해 주세요</p>                       
                       
                        <div class="card shadow card-s2">
                                <div class="image">
                                    <img src="assets/img/img_building.jpg" alt="">
                                </div>
                                <div class="content">
                                    <h4 class="title">센트럴 아이파크2</h4>
                                    <p class="description">
                                        대한민국/경기도 산척동/화성동탄2 택지개발지구 내 A77-2블록/
                                    </p>                                 
                                </div>                               
                        </div>
                        <br>
                        <a href="/" class="btn btn-default btn-fill btn-wd shadow" role="button">나가기</a>
                        <a href="/building_new" class="btn btn-primary btn-fill btn-wd shadow" role="button">빌딩 생성하기</a>
                    </div>
                </div>
            </div>
        </div>

<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

