
<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                        <%- include('inc/search') %><!-- 검색 -->
                </div>
            </div>
        </div>

<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

