<%- include('inc/head') %>
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>


        <div class="content">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <%- include('inc/search') %><!-- 검색 -->

                        <h4>
                                <div class="row">
                                    <div class="col-md-3">                                       
                                        <select class="form-control">
                                            <option>빌딩이름</option>
                                            <option>빌라</option>
                                            <option>카라반</option>
                                        <select>                                             
                                    </div>  
                                    <div class="col-md-9">            
                                        <button type="submit" class="btn btn-primary pull-right">스텝키 발급 내역</button>                                                                                                   
                                    </div>
                                </div>  

                            </h4>
                            <div class="card">                                   
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover">
                                            <colgroup>
                                                <col width="20%">
                                                <col width="*">
                                                <col width="25%">
                                                <col width="15%">
                                            </colgroup>
                                            <thead>                                               
                                                <th>생성일</th>
                                                <th>객실이름</th>   
                                                <th>등급</th>                                             
                                                <th>정렬:생성일 기준</th>
                                            </thead>
                                            <tbody>
                                                <tr>                                                  
                                                    <td>DD-MMM-YYYY  HH:MM</td>
                                                    <td><a data-target="#viewStaff" data-toggle="modal" role="button">Staff name 1A</a></td>  
                                                    <td>마스터 [ 보유키 : 2개 ]</td>                                                  
                                                    <td>
                                                        <button onclick="location.href='staff_key' " type="button"  title="키발급하기" class="btn btn-simple btn-link">
                                                            <i class="icon key"></i>
                                                        </button>
                                                        <button type="button" data-target="#DelstaffError" data-toggle="modal" title="삭제하기" class="btn btn-simple btn-link">
                                                            <i class="icon trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>                                                  
                                                    <td>26-SEP-2019  11:01</td>
                                                    <td><a data-target="#viewStaff" data-toggle="modal" role="button">Staff name 1A</a></td>  
                                                    <td>하우스키핑 [ 보유키 : 1 개 ]</td>                                             
                                                    <td>
                                                        <button onclick="location.href='staff_key' " type="button"  title="키발급하기" class="btn btn-simple btn-link">
                                                            <i class="icon key"></i>
                                                        </button>
                                                        <button type="button" data-target="#Delstaff" data-toggle="modal" title="삭제하기" class="btn btn-simple btn-link">
                                                            <i class="icon trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>        
                                    </div>
                            </div>

                            <button class="btn btn-default btn-fill shadow pull-left">나가기</button>
                            <button onclick="location='staff_new'" class="btn btn-primary btn-fill shadow pull-right">스텝 등록하기</button>
                            

                    </div>    
                </div>
            </div>
        </div>
<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

<script>
    navTitle('단지선택','');
    var API_KEY = localStorage.getItem('api_key');

    $.ajax({
        url:'https://development.api.allegion.imgate.co.kr/v1​/properties​/{property_id}​/staffs',
        method:'get',
        contentType: "application/json; charset=utf-8",
        headers : {
            "Authorization": "Bearer " + API_KEY
        }
    });
</script>

