<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                   
                    <%- include('inc/search') %><!-- 검색 -->
                    <div class="col-md-12">
                            <h4>
                                <div class="row">
                                    <div class="col-md-3">                                       
                                        <select class="form-control">
                                            <option>빌딩이름</option>
                                            <option>빌라</option>
                                            <option>카라반</option>
                                        <select>                                             
                                    </div>  
                                    <div class="col-md-9">            
                                        <button type="submit" class="btn btn-primary pull-right">스텝키 발급 내역</button>                                                                                                   
                                    </div>
                                </div>  

                            </h4>
                            <div class="card">                                   
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover">
                                            <colgroup>
                                                <col width="20%">
                                                <col width="*">
                                                <col width="25%">
                                                <col width="15%">
                                            </colgroup>
                                            <thead>                                               
                                                <th>생성일</th>
                                                <th>객실이름</th>   
                                                <th>등급</th>                                             
                                                <th>정렬:생성일 기준</th>
                                            </thead>
                                            <tbody>
                                                <tr>                                                  
                                                        <td colspan="3">
                                                                <div class="con_default">
                                                                    <i class="icon m_staff"></i>
                                                                    <h4 class="text-center text-info">
                                                                        ‘ 아직 등록된 스텝 정보가 없습니다 ’<br>
                                                                        <span>스텝 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                                    </h4>
                                                                </div>
                                                            </td>   
                                                </tr>
                                            </tbody>
                                        </table>        
                                    </div>
                            </div>

                            <button class="btn btn-default btn-fill shadow pull-left">나가기</button>
                            <button onclick="location='building_new.html'" class="btn btn-primary btn-fill shadow pull-right">스텝 등록하기</button>
                            
                    </div>
                </div>
            </div>
        </div>

<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

