<div class="main-panel">
<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           
            <span class="navbar-brand text-primary" ><i class="nc-icon nc-square-pin"></i>
                <span class="nav_title"></span>
                <small class="nav_stitle"></small>
            </span>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><i class="pe-7s-clock"></i>Time Zone <small class="timezone"></small></li>
            </ul>
        </div>
    </div>
</nav>
